:root{
    --primary: #f46b45;
    --secondary: #eea849;
    --light: #f5f6fa;
    --dark: #2f3640;
    --success: #27ae60;
    --error: #c0392b;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    background-color: var(--light);
}

a{
    text-decoration: none;
    color: inherit;
}

.button{
    border-radius: 5px;
    background-color: var(--primary);
    padding: 10px;
}

header{
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--light);
}

header .identity{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;
}

header .identity img{
    height: 30px;
    margin-right: 10px;
}

header nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

header nav ul li.separator:before{
    content: "";
    margin: 0 30px 0 10px;
    border: 2px solid var(--light);
}

header nav ul li a{
    padding: 5px;
    border-radius: 5px;
    color: var(--light);
    transition: background-color 500ms, color 500ms;
}

header nav ul li a:hover{
    color: var(--primary);
    background-color: var(--light);
}

main{
    flex: 1;
}

.landing{
    position: relative;
    height: 600px;
    background-image: url("../image/landing.jpg");
    background-size: cover;
    background-position: center center;
}

.landing-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--light);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


footer{
    color: var(--light);
}

footer ul{
    background-color: var(--dark);
    padding: 20px 10px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

footer p{
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: var(--primary);
}